.mainDiv {
  padding: 20px;
}

button {
  height: 20px;
  line-height: 0;
}

input {
  border-color: gray;
}

.mainBtn {
  margin-right: 10px;
}

.closeDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#request_content {
  margin: 20px 0;
}

.address {
  width: 380px;
}
